/*.container {
    height:650px ;
    background: -webkit-linear-gradient(black, rgba(255, 255, 0, 0));
    background: -o-linear-gradient(black, rgba(255, 255, 0, 0));
    background: -moz-linear-gradient(black, rgba(255, 255, 0, 0)); 
    background: linear-gradient(black, rgba(255, 255, 0, 0)); 
}*/

body {
    background: url("/image/image.jpg") center center;
    background-size:cover;
    background-attachment: fixed;
    padding: 100% 0;
}
.padre {
    position: relative;
}

.btn {
    font-size: 20px;
    padding: 15px;
    
}
.hijo{
    position: absolute;
    bottom: 0;
    margin: auto;
}
